body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  background-color: #eaf4f5;
}

/* ========================================================================================= */

/* ===== Topbar ===== */

.topbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 20%;
  height: 75px;
  background-color: #f0a904;
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-bottom: 1px solid white;
}

/* ===== Topbar Title ===== */

.topbar-text {
  font-size: min(2.5vw, 30px);
  font-weight: bold;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.topbar-right {
  font-size: min(2vw, 25px);
  font-weight: bold;
  display: flex;
  align-items: center;
}

/* ===== Logout Button ===== */

.btn-log-out button {
  margin-left: 10px;
  padding: 0px 10px;
  margin-right: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background: transparent;
  position: relative;
  transition: all 0.2s;
  overflow: hidden;
  color: #fff;
  border-radius: 5px;
  height: min(2.5vw, 50px);
  box-shadow: 0px 0px 0px 0px rgba(255, 0, 0, 0.5), 0px 0px 0px 0px rgba(255, 0, 0, 0.5);
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn-log-out button::after {
  content: "";
  width: 400px;
  height: 100%;
  position: absolute;
  top: -50px;
  left: -100px;
  background-image: linear-gradient(225deg, #a60000 0%, #df0f0f 50%, #a61dff 100%);
  z-index: -1;
  transition: all 0.5s;
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
}

button:hover::after {
  transform: rotate(150deg);
}

button:hover {
  transform: translate(0, -6px);
  box-shadow: 10px -10px 25px 0px rgba(143, 64, 248, 0.25), -10px 10px 25px 0px rgba(39, 200, 255, 0.25);
}

.btn-log-out button {
  padding: 20px 40px;
  margin-right: 20px;
  font-size: min(2.5vw, 25px);
  font-weight: bold;
  cursor: pointer;
  border: 0px;
  background: transparent;
  position: relative;
  transition: all 0.2s;
  overflow: hidden;
  color: #fff;
  border-radius: 30px;
  box-shadow: 0px 0px 0px 0px rgba(255, 0, 0, 0.5), 0px 0px 0px 0px rgba(255, 0, 0, 0.5);
}

.btn-log-out button::after {
  content: "";
  width: 400px;
  height: 400px;
  position: absolute;
  top: -50px;
  left: -100px;
  background-image: linear-gradient(225deg, #df0f0f 0%, #df0f0f 50%, #a61dff 100%);
  z-index: -1;
  transition: all 0.5s;
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
}

button:hover::after {
  transform: rotate(150deg);
}

button:hover {
  transform: translate(0, -6px);
  box-shadow: 10px -10px 25px 0px rgba(143, 64, 248, 0.25), -10px 10px 25px 0px rgba(39, 200, 255, 0.25);
}

/* ========================================================================================= */

/* ===== Sidebar ===== */

.sidebar {
  height: 100vh;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0b815b;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #ffffff;
}

/* ===== Sidebar Logo ====== */

.sidebar-logo {
  width: 100%;
  max-width: 200px;
  border-radius: 10px;
  margin-top: 30px;
}

/* ===== Sidebar Menu ====== */

.sidebar ol {
  width: 80%;
  padding: 0;
  text-align: center;
}

.sidebar ol li {
  display: flex;

  align-items: center;
}

ol {
  width: 300px;
  list-style: none;
}

ol li {
  margin: 10px 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #55c1a0;
  color: white;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  font-size: 22px;
  z-index: 5;
  position: relative;
  cursor: pointer;
  transition: all 0.4s;
  display: block;
}

.sidebar ol li a {
  font-size: 1.2rem;
  display: block;
  color: white;
  width: 100%;
  text-decoration: none;
  padding: 13px 30px;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  font-size: min(2vw, 22px);
  z-index: 5;
  font-weight: bold;
  transition: background-color 0.3s;
}

/* ===== Border ====== */

ol li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  z-index: -1;
  transition: all 0.4s;
}

ol li:hover::before {
  width: 100%;
}

/* ===== COLOR FOR EACH ITEMS ===== */

ol li:nth-child(1) {
  background-color: #db4437;
  font-size: 24px;
}
ol li:nth-child(2) {
  background-color: #f0a904;
  font-size: 24px;
  transform: translateX(20px);
}
ol li:nth-child(3) {
  background-color: #55c1a0;
  font-size: 24px;
}
ol li:nth-child(4) {
  background-color: #55c1a0;
  font-size: 24px;
}
ol li:nth-child(5) {
  background-color: #55c1a0;
  font-size: 24px;
}
ol li:nth-child(6) {
  background-color: #55c1a0;
  font-size: 24px;
}
ol li:nth-child(7) {
  background-color: #55c1a0;
  font-size: 24px;
}
ol li:nth-child(8) {
  background-color: #626060;
  font-size: 24px;
}

ol li:nth-child(1)::before {
  background: #b91d3e;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
ol li:nth-child(2)::before {
  background: #f0a904;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
ol li:nth-child(3)::before {
  background: #b87dd7;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
ol li:nth-child(4)::before {
  background: #0329a1;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
ol li:nth-child(5)::before {
  background: #4285f4;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
ol li:nth-child(6)::before {
  background: #08b664;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
ol li:nth-child(7)::before {
  background: #ff0032;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
ol li:nth-child(8)::before {
  background: #434345;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

ol li:hover {
  transform: translateX(20px);
}

/* ========================================================================================= */

/* =====  Main Box  ===== */

.mainbox {
  justify-content: center;
  position: fixed;
  top: 75px;
  right: 0;
  left: 20%;
  bottom: 0;
  background-color: #eaf4f5;
  color: #b87dd7;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  padding: 0 10px;
  border-bottom: 1px solid white;
  overflow-y: auto;
}

/* =====  Title of the Main Box  ===== */

.mainbox-text {
  position: absolute;
  top: 50 px;
  left: 10px;
  padding: 30px;
  font-size: min(3.2vw, 35px);
  color: #0b815b;
  background: transparent;
  z-index: 10;
  font-weight: bold;
}

/* =====  Image of the Main Box  ===== */

.mainbox-image {
  position: absolute;
  margin-top: 150px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}
