body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  background-color: #eaf4f5;
}

/* ========================================================================================= */

/* ===== Topbar ===== */

.topbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 20%;
  height: 75px;
  background-color: #b87dd7;
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-bottom: 1px solid white;
}

/* ===== Topbar Title ===== */

.topbar-text {
  font-size: min(2vw, 30px);
  font-weight: bold;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.topbar-right {
  font-size: min(1.75vw, 25px);
  font-weight: bold;
  display: flex;
  align-items: center;
}

/* ===== Logout Button ===== */

.btn-log-out button {
  margin-left: 10px;
  padding: 0px 10px;
  margin-right: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background: transparent;
  position: relative;
  transition: all 0.2s;
  overflow: hidden;
  color: #fff;
  border-radius: 5px;
  height: min(2.5vw, 50px);
  box-shadow: 0px 0px 0px 0px rgba(255, 0, 0, 0.5), 0px 0px 0px 0px rgba(255, 0, 0, 0.5);
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn-log-out button::after {
  content: "";
  width: 400px;
  height: 100%;
  position: absolute;
  top: -50px;
  left: -100px;
  background-image: linear-gradient(225deg, #a60000 0%, #df0f0f 50%, #a61dff 100%);
  z-index: -1;
  transition: all 0.5s;
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
}

button:hover::after {
  transform: rotate(150deg);
}

button:hover {
  transform: translate(0, -6px);
  box-shadow: 10px -10px 25px 0px rgba(143, 64, 248, 0.25), -10px 10px 25px 0px rgba(39, 200, 255, 0.25);
}

.btn-log-out button {
  padding: 20px 40px;
  margin-right: 20px;
  font-size: min(2.5vw, 25px);
  font-weight: bold;
  cursor: pointer;
  border: 0px;
  background: transparent;
  position: relative;
  transition: all 0.2s;
  overflow: hidden;
  color: #fff;
  border-radius: 30px;
  box-shadow: 0px 0px 0px 0px rgba(255, 0, 0, 0.5), 0px 0px 0px 0px rgba(255, 0, 0, 0.5);
}

.btn-log-out button::after {
  content: "";
  width: 400px;
  height: 400px;
  position: absolute;
  top: -50px;
  left: -100px;
  background-image: linear-gradient(225deg, #df0f0f 0%, #df0f0f 50%, #a61dff 100%);
  z-index: -1;
  transition: all 0.5s;
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
}

button:hover::after {
  transform: rotate(150deg);
}

button:hover {
  transform: translate(0, -6px);
  box-shadow: 10px -10px 25px 0px rgba(143, 64, 248, 0.25), -10px 10px 25px 0px rgba(39, 200, 255, 0.25);
}

/* ========================================================================================= */

/* ===== Sidebar ===== */

.sidebar {
  height: 100vh;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0b815b;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #ffffff;
}

/* ===== Sidebar Logo ====== */

.sidebar-logo {
  width: 100%;
  max-width: 200px;
  border-radius: 10px;
  margin-top: 30px;
}

/* ===== Sidebar Menu ====== */

.sidebar ol {
  width: 80%;
  padding: 0;
  text-align: center;
}

.sidebar ol li {
  display: flex;

  align-items: center;
}

ol {
  width: 300px;
  list-style: none;
}

ol li {
  margin: 10px 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #55c1a0;
  color: white;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  font-size: 22px;
  z-index: 5;
  position: relative;
  cursor: pointer;
  transition: all 0.4s;
  display: block;
}

.sidebar ol li a {
  font-size: 1.2rem;
  display: block;
  color: white;
  width: 100%;
  text-decoration: none;
  padding: 13px 30px;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  font-size: min(2vw, 22px);
  z-index: 5;
  font-weight: bold;
  transition: background-color 0.3s; /* For a hover effect */
}

/* ===== Border ====== */

ol li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  z-index: -1;
  transition: all 0.4s;
}

ol li:hover::before {
  width: 100%;
}

/* ===== COLOR FOR EACH ITEMS ===== */

ol li:nth-child(1) {
  background-color: #db4437;
  font-size: 24px;
}
ol li:nth-child(2) {
  background-color: #55c1a0;
  font-size: 24px;
}
ol li:nth-child(3) {
  background-color: #b87dd7;
  font-size: 24px;
  transform: translateX(20px);
}
ol li:nth-child(4) {
  background-color: #55c1a0;
  font-size: 24px;
}
ol li:nth-child(5) {
  background-color: #55c1a0;
  font-size: 24px;
}
ol li:nth-child(6) {
  background-color: #55c1a0;
  font-size: 24px;
}
ol li:nth-child(7) {
  background-color: #55c1a0;
  font-size: 24px;
}
ol li:nth-child(8) {
  background-color: #626060;
  font-size: 24px;
}

ol li:nth-child(1)::before {
  background: #b91d3e;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
ol li:nth-child(2)::before {
  background: #f0a904;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
ol li:nth-child(3)::before {
  background: #b87dd7;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
ol li:nth-child(4)::before {
  background: #0329a1;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
ol li:nth-child(5)::before {
  background: #4285f4;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
ol li:nth-child(6)::before {
  background: #08b664;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
ol li:nth-child(7)::before {
  background: #ff0032;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
ol li:nth-child(8)::before {
  background: #434345;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

ol li:hover {
  transform: translateX(20px);
}

/*=========================================================================================*/

/*  Main Box */

.mainbox {
  position: fixed;
  top: 75px;
  right: 0;
  left: 20%;
  bottom: 0;
  background-color: #eaf4f5;
  color: #b87dd7;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  padding: 0 10px;
  border-bottom: 1px solid white;
  overflow-y: auto;
}

/* =====  Title of the Main Box  ===== */

.mainbox-text {
  position: absolute;
  top: 50 px;
  left: 10px;
  padding: 30px;
  font-size: clamp(20px, 3.2vw, 35px);
  color: #0b815b;
  background: transparent;
  z-index: 10;
  font-weight: bold;
}

/*  Dropdown Menu  */

.dropdown-container {
  position: absolute;
  top: 50px;
  left: 40px;
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#dropdown-container2 {
  position: absolute;
  top: 170px;
  left: 40px;
  box-sizing: border-box;
  padding: 30px;
}

#dropdown-container3 {
  position: absolute;
  top: 290px;
  left: 40px;
  box-sizing: border-box;
  padding: 30px;
}

.dropdown-label {
  margin-right: 10px;
  font-weight: bold;
}

.dropdown {
  box-sizing: border-box;
  padding: 30px;
}

.select {
  background: #b87dd7;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #b87dd7;
  border-radius: 0.2em;
  padding: 0.9em;
  font-size: 0.8em;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
  flex-grow: 1;
}

.select:hover {
  background: #0b815b;
  border: 2px solid #0b815b;
}

.caret {
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 20px solid #fff;
  transition: transform 0.3s;
  margin-left: 1em;
}

.menu {
  list-style: none;
  padding: 0.2em 0.5em;
  background: #0b815b;
  border: 1px solid #0b815b;
  box-shadow: 0 0.5em 1em rgba(43, 74, 173, 0.2);
  border-radius: 0.5em;
  top: 3.25em;
  color: #fff;
  position: absolute;
  left: 7.2em;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: opacity 0.2s;
  z-index: 100;
}

#menu2 {
  left: 11.6em;
}

#menu3 {
  left: 8.2em;
}

.menu li {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 0.7em;
  font-weight: bold;
}

.menu li:hover {
  background-color: #55c1a0;
}

.menu-open {
  display: block;
  opacity: 1;
}

/*  Search Button */

.btn-select .button-select {
  padding: 20px 40px;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  top: 460px;
  left: 50px;
  border: 0px;
  background: transparent;
  position: relative;
  transition: all 0.2s;
  overflow: hidden;
  color: #fff;
  border-radius: 30px;
  box-shadow: 0px 0px 0px 0px rgba(34, 87, 235, 0.5), 0px 0px 0px 0px rgba(29, 181, 29, 0.5);
}

.btn-select .button-select::after {
  content: "";
  width: 400px;
  height: 400px;
  position: absolute;
  top: -50px;
  left: -100px;
  background-image: linear-gradient(225deg, #6d149e 0%, #b87dd7 50%, #a61dff 100%);
  z-index: -1;
  transition: all 0.5s;
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
}

.button-select:hover::after {
  transform: rotate(150deg);
}

.button-select:hover {
  transform: translate(0, -6px);
  box-shadow: 10px -10px 25px 0px rgba(143, 64, 248, 0.25), -10px 10px 25px 0px rgba(39, 200, 255, 0.25);
}

/* Garden Plot Styles */

#gardenPlotContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 0px;
  top: 600px;
  margin-left: -130px;
  position: relative;
  margin-bottom: 700px;
}

.plot-column {
  width: 250px;
  height: 70vw;
  margin-right: 10px;
  background-color: #a6dba6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: 800px;
}
.middle-line {
  border-bottom: 1px solid #fff;
}

.plot-division {
  flex: 1;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Last division shouldn't have a bottom border */
.plot-division:last-child {
  border-bottom: none;
}

.plant-name {
  display: block;
  align-items: center;
  font-size: min(3.2vw, 35px);
  color: #ffffff;
  text-align: center;
  margin: 5px 0;
}

.plot-column {
  flex: 1;
  margin-right: 10px;
  background-color: #88592a;
}

.plot-row {
  border-bottom: 1px solid #fff;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plot-column:last-child {
  margin-right: 0;
}

.plot-row:last-child {
  border-bottom: none;
}
Carrot

/* Horizontal */

/* Garden Plot Styles for Rows and Divisions */

#gardenPlotHorizontalContainer {
  flex-direction: column;
  justify-content: center;
  padding-top: 0px;
  margin-top: 6000px;
  margin-left: -130px;
  position: absolute;
  margin-bottom: 700px;
}

.plot-rowhoriz {
  width: 100%;
  height: 300px;
  background-color: #a6dba6;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  top: 600px;
}

.garden-divisionhoriz {
  flex: 1;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Last division shouldn't have a right border */
.garden-divisionhoriz:last-child {
  border-right: none;
}

.plant-namehoriz {
  display: block;
  align-items: center;
  color: #ffffff;
  font-size: min(3.2vw, 35px);
  text-align: center;
  margin: 5px 0;
}

/* Apply a class to the container that will hold your rows */
.garden-plot-containerhoriz {
  max-width: 90%;
  margin: 0 auto;
}

.plot-columnhoriz {
  border-right: 1px solid #fff;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plot-rowhoriz {
  flex: 1;
  margin-right: 10px;
  background-color: #88592a;
  width: 70vw;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 10px;
  position: relative;
}

.plot-column-horiz:last-child {
  margin-right: 0;
}

.plot-row-horiz:last-child {
  border-bottom: none;
}
